{{ partial "main_menu.html" . }}
<main class="page-shell">
  <article class="page-article">
    <header class="page-article__header">
      <h1 class="page-article__title">{{ .Title }}</h1>
    </header>

    <section id="category-pane" class="page-article__meta meta-block">
      {{ if ne .Params.showpagemeta false }}
      <div class="meta-row">
        <p class="meta meta--label">
          {{ if not .Date.IsZero }} PUBLISHED ON {{ .Date.Format (default "Jan 2, 2006" .Site.Params.dateformat) | upper }}
          {{ end }}
          / {{ math.Round (div (countwords .Content) 220.0) }} MIN READ
          {{ if isset .Params "categories" }}
          {{ $total := len .Params.categories }}
          {{ if gt $total 0 }}
          —
          {{ $total := sub $total 1 }}
          {{ range $i, $cat := sort $.Params.categories }}
          <a class="meta meta--link"
            href="{{ "categories/" | relURL }}{{ $cat | urlize }}">{{ $cat | upper }}</a>{{ if lt $i $total }}, {{ end }}
          {{ end }}
          {{ end }}
          {{ end }}
        </p>
      </div>
      {{ end }}
    </section>

    <section id="content-pane" class="page-article__content">
      <div class="content">
        {{ if and (ne .Params.toc false) (gt .WordCount 300) }}
        {{ .TableOfContents }}
        {{ end }}
        {{ .Content }}
      </div>
    </section>

    {{ $hasTags := and (isset .Params "tags") (gt (len .Params.tags) 0) }}
    {{ if and (ne .Params.showpagemeta false) $hasTags }}
    <section id="tag-pane" class="page-article__meta meta-block">
      <div class="meta-row">
        <p class="meta meta--label meta--align-end">
          TAGS:
          {{ $subtotal := sub (len .Params.tags) 1 }}
          {{ range $i, $tag := sort $.Params.tags }}
          <a class="meta meta--link" href="{{ "tags/" | relURL }}{{ $tag | urlize }}">{{ $tag | upper }}</a>{{ if lt $i $subtotal }},
          {{ end }}
          {{ end }}
        </p>
      </div>
    </section>
    {{ end }}
  </article>
</main>
