{{ if not .IsNode }}
<nav class="site-pagination" aria-label="Post navigation">
  {{ with .PrevInSection }}
  <a class="site-pagination__link site-pagination__link--prev" href="{{ .Permalink }}">
    <i class="fa-solid fa-arrow-left-long"></i>
    <div>
      <span class="site-pagination__label">Previous</span>
      <span class="site-pagination__title">{{ .Title }}</span>
    </div>
  </a>
  {{ end }}

  {{ if .Section }}
  <a class="site-pagination__archive" href="{{ .Section | relURL }}">
    <span class="site-pagination__label">Back to {{ .Section | humanize }}</span>
  </a>
  {{ end }}

  {{ with .NextInSection }}
  <a class="site-pagination__link site-pagination__link--next" href="{{ .Permalink }}">
    <div>
      <span class="site-pagination__label">Next</span>
      <span class="site-pagination__title">{{ .Title }}</span>
    </div>
    <i class="fa-solid fa-arrow-right-long"></i>
  </a>
  {{ end }}
</nav>
{{ end }}
